

  <nav class="navbar">
    <a href="#header">Inicio</a>
    <a href="#project">Proyectos</a>
    <a href="#agency">Contacto</a>
  </nav>

  <header id="header" class="header">
      <div>
        <h1 data-aos="fade-up">Diana Chanta</h1>
        <p data-aos="fade-up" data-aos-delay="300">
          Soy estudiante de ingeniería de sistemas y Diseñadora UX/UI.
        </p>
      </div>
  </header>

  <section id="project" class="project" data-aos="fade-right">
    <!-- Contenido del proyecto -->
  </section>

  <section id="agency" class="agency" data-aos="fade-left">
    <!-- Contenido de la agencia -->
  </section>




<section class="project" data-aos="fade-right">
  <h2>Our Projects</h2>
  <p>Discover our creative solutions for various brands.</p>
</section>

<section class="agency" data-aos="fade-left">
  <h2>About the Agency</h2>
  <p>We bring innovative ideas to reality.</p>
</section>

<footer>
  <p>© 2024 Nanotech. All rights reserved.</p>
</footer>

