

  <nav class="navbar">

    <a href="#header">Inicio</a>
    <a href="#project">Sobre mi</a>
    <a href="#agency">Educación</a>
    <a href="#agency">Habilidades</a>
    <a href="#project1">Proyectos</a>
  </nav>

  <header id="header" class="header">
      <div>
        <h1 data-aos="fade-up">Portfolio</h1>
        <p data-aos="fade-up" data-aos-delay="300">
          UX/UI Designer
        </p>
      </div>
  </header>

  <hr class="separador1">

  <section id="project" class="project" data-aos="fade-right">
    <div class="sobre-mi-container">
      <div class="sobre-mi-ilustracion">
        <img src="assets/cat_CAT-removebg-preview.png" alt="Ilustración sobre mí">
      </div>
      <div class="sobre-mi-texto">
        <h2 class="Hola">Hola,</h2>
        <p>
          Soy Diana Carolina Chanta, una diseñadora apasionada por transformar ideas en experiencias visuales únicas y funcionales. Mi objetivo es conectar a las personas con productos y servicios a través de un diseño intuitivo. Creo firmemente en el poder de la creatividad y disfruto colaborando en proyectos innovadores que desafíen los límites de lo convencional. Siempre estoy lista para experimentar, aprender y aportar un enfoque fresco que impulse cada proyecto al siguiente nivel.
        </p>

        <!-- Este es un comentario para recordar algo importante
        <div class="botones-interes">
          <button class="boton-interes">Diseño UX/UI</button>
          <button class="boton-interes">Ilustración</button>
        </div>
        -->
      </div>
    </div>
  </section>


  <section id="agency" class="agency" data-aos="fade-left">
    <div class="sobre-mi-container2">
      <div class="sobre-mi-ilustracion2">
        <img src="assets/descarga__2_-removebg-preview.png" alt="Ilustración sobre mí2">
      </div>
      <div class="sobre-mi-texto2">
        <h2>Educación</h2>
        <p>
          Actualmente estoy curanso mí último año de licenciatura en Ingeniería de computación
          y sistemas.
        </p>
        <p>
          He completado varios cursos y programas relacionados con el diseño UX/UI.
          Estoy motivada por los retos y busco oportunidades donde pueda aplicar mis habilidades y seguir creciendo profesionalmente en este campo.
        </p>
        <ul>
          <li> Google UX Design Certificate, Coursera</li>
          <li> Universidad Privada Antenor Orrego, Perú</li>
          <li> Instituto Cultural Peruano Norteamericano, Perú</li>
          <li> Transformación y herramientas digitales, Interbank</li>
        </ul>
        <div class="botones-interes2">
          <button class="boton-interes2" onclick="window.open('assets/CV- Diana Chanta.docx.pdf', '_blank')">Ver mi CV</button>
          <button class="boton-interes2">Linkedin</button>
        </div>
      </div>
    </div>
  </section>

  <hr class="separador">

<section id="project1" class="project" data-aos="fade-right">
  <div class="sobre-mi-container3">

    <div class="sobre-mi-ilustracion3">
      <img src="assets/Imagen%20c3.png" alt="Ilustración sobre mí3">
    </div>
    <div class="sobre-mi-texto3">
      <h2 class="Hola">Credibly</h2>
      <p>
        Credibly es una innovadora plataforma de préstamos peer-to-peer que conecta directamente a prestatarios con inversionistas, eliminando la necesidad de intermediarios tradicionales. Este proyecto busca democratizar el acceso a financiamiento ofreciendo condiciones transparentes, tasas competitivas y una experiencia intuitiva para todos los usuarios.
      </p>
      <p>
        Credibly está diseñado para fomentar la inclusión financiera y crear oportunidades de inversión accesibles, alineándose con un enfoque centrado en el usuario y las mejores prácticas tecnológicas.
      </p>
    </div>
  </div>
</section>

  <div class="custom-shape-divider-top-1737224784">
    <svg data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1200 120" preserveAspectRatio="none">
      <path d="M321.39,56.44c58-10.79,114.16-30.13,172-41.86,82.39-16.72,168.19-17.73,250.45-.39C823.78,31,906.67,72,985.66,92.83c70.05,18.48,146.53,26.09,214.34,3V0H0V27.35A600.21,600.21,0,0,0,321.39,56.44Z" class="shape-fill"></path>
    </svg>
  </div>
  <footer>
    <p>© 2024 Diana Chanta. All rights reserved.</p>
  </footer>

