

  <nav class="navbar">
    <a href="#header">Inicio</a>
    <a href="#project">Proyectos</a>
    <a href="#agency">Contacto</a>
  </nav>

  <header id="header" class="header">
      <div>
        <h1 data-aos="fade-up">Portfolio</h1>
        <p data-aos="fade-up" data-aos-delay="300">
          Diana Chanta / Diseñadora UX/UI.
        </p>
      </div>
  </header>

  <section id="project" class="project" data-aos="fade-right">
    <h2>Sobre mi</h2>
    <p>Discover our creative solutions for various brands.</p>
  </section>

  <section id="agency" class="agency" data-aos="fade-left">
    <h2>Experiencia</h2>
    <p>Discover our creative solutions for various brands.</p>
  </section>




<section class="project" data-aos="fade-right">
  <h2>Mis proyectos</h2>
  <p>Discover our creative solutions for various brands.</p>
</section>

<section class="agency" data-aos="fade-left">
  <h2>About the Agency</h2>
  <p>We bring innovative ideas to reality.</p>
</section>

<footer>
  <p>© 2024 Diana Chanta. All rights reserved.</p>
</footer>

